# FastAPI authentication
ENTRA_ISSUER=https://YOUR_TENANT_SUBDOMAIN.ciamlogin.com/YOUR_TENANT_ID/v2.0
ENTRA_API_CLIENT_ID=YOUR_API_APPLICATION_CLIENT_ID
ENTRA_REQUIRED_SCOPE=FarmProjects.ReadWrite
# Optional when the standard External ID discovery endpoint is used:
# ENTRA_JWKS_URL=https://YOUR_TENANT_SUBDOMAIN.ciamlogin.com/YOUR_TENANT_ID/discovery/v2.0/keys

# React/Vite authentication
VITE_ENTRA_CLIENT_ID=YOUR_SPA_APPLICATION_CLIENT_ID
VITE_ENTRA_AUTHORITY=https://YOUR_TENANT_SUBDOMAIN.ciamlogin.com/YOUR_TENANT_ID
VITE_ENTRA_API_SCOPE=api://YOUR_API_APPLICATION_CLIENT_ID/FarmProjects.ReadWrite
VITE_API_BASE_URL=https://YOUR_PUBLIC_PLANTER_API
